<?xml version="1.0" encoding="gb2312"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
    
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	<util:properties id="env" location="classpath:SysConfig.properties"></util:properties>
	
	<context:annotation-config />
	<context:component-scan base-package="com.blue"/>
	<context:component-scan base-package="com.projectmaintain"/>
	<context:component-scan base-package="com.huateng"/>
	<context:component-scan base-package="com.yly"/>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager" >
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="query*" read-only="true" />
			<tx:method name="*" rollback-for="java.lang.Exception" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="ibatisBoOperation"
			expression="execution(* com.huateng.blue.work.*BO.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="ibatisBoOperation" />

	</aop:config>
	<aop:config>
		<aop:pointcut id="projectBO"
			expression="execution(* com.projectmaintain.*BO.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="projectBO" />
	</aop:config>
	<aop:config>
		<aop:pointcut id="keyBO"
			expression="execution(* com.yly.*.*BO.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="keyBO" />
	</aop:config>

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/djkwg/jdbc/djkwgds</value>
		</property>
	</bean>
	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"/>
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:/sqlmap-config.xml"/>
   		<property name="dataSource" ref="dataSource"/>
   		<property name="lobHandler" ref="lobHandler"></property>
	</bean>
	

	<bean id="commonDao" class="com.eis.base.CommonSqlMapDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="keyVDatagram" class="com.eis.util.KeyVDatagram">
	<property name="mainKeyMap">
		<map>
			<entry key="WQ_KEY" value="57415443484441544154696D65434F53"/>
			<entry key="BMAC_KEY" value="7DAB542DD72A6F591F32FA0D4149739E"/>
			<entry key="JSB_KEY" value="A2787475473F3B0CFBFDBBA2379261BF"/>
			<entry key="ALLONE_KEY" value="11111111111111111111111111111111"/>
			<entry key="ALLZERO_KEY" value="00000000000000000000000000000000"/>
			<entry key="ABCD_KEY" value="11223344556677889900AABBCCDDEEFF"/>
			<entry key="ALLF_KEY" value="FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF"/>
		</map>
	</property>
</bean>
	<import resource="classpath:bean-config.xml"/>
	<import resource="classpath:kmoduleStateless.xml"/>
	<import resource="WorkManage.xml"/>
	
</beans>
